@charset "UTF-8";
/*-------------------------------------------------------------------
    ## Reset
-------------------------------------------------------------------*/

html,
body,
div,
ul,
ol,
dl,
li,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
table,
th,
td,
caption,
address,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
button,
select,
textarea,
input,
fieldset,
legend,
a,
span,
strong,
em,
address,
dfn,
small,
i,
b,
pre,
form {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    color: inherit;
    font-style: normal;
    font-size: 100%;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    word-break: keep-all;
    word-wrap: break-word;
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    -o-box-sizing: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

:before,
:after {
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    -o-box-sizing: inherit;
}

article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
menu,
nav,
section {
    display: block;
}

html {
    font-size: 16px;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
body {
    width: 100%;
    min-height: 100%;
    line-height: 1;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

[hidden],
hr {
    display: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
    object-fit: cover;
}

button {
    background-color: transparent;
    cursor: pointer;
}

label[role="button"] {
    cursor: pointer;
}

b,
strong {
    font-weight: normal;
}

fieldset,
iframe {
    width: 100%;
}

img,
a,
frame,
iframe,
fieldset {
    border: 0;
}

a {
    text-decoration: none;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

caption {
    display: block;
    position: absolute;
    left: -9999px;
}

legend {
    position: absolute;
    left: -9999em;
    top: -9999em;
}

button {
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;
}

button::-moz-focus-inner {
    border: 0px;
    padding: 0px;
}

.dv_android [tabindex='0']:focus,
.dv_android a:focus,
.dv_android button:focus,
.dv_android input:focus,
.dv_android textarea:focus,
.dv_android select:focus {
    /*outline: 0;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.dv_ios [tabindex='0'],
.dv_ios a,
.dv_ios button,
.dv_ios input,
.dv_ios textarea,
.dv_ios select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

:focus {
    outline: 1px;
    outline-color: #fff;
}

a,
button,
p,
li,
span,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
label,
em {
    -webkit-user-select: none;
    -user-select: none;
}

/*-------------------------------------------------------------------
	## Form Controls
-------------------------------------------------------------------*/
/* Default */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #b1b1b1;
}

/* IE 10 + */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #b1b1b1;
}

/* Webkit Browser */
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #b1b1b1;
}

/* Mozilla Firefox 4 to 18 */
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #b1b1b1;
}

/* Mozilla Firefox 19+ */
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: transparent;
}

/* IE 10 + */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

/* Webkit Browser */
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent;
}

/* Mozilla Firefox 4 to 18 */
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent;
}

/* Mozilla Firefox 19+ */
input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0px;
    vertical-align: middle;
    color: #111;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

input[type=file] {
    display: none;
}

input[type='radio'] {
    /*appearance: radio;*/
    -webkit-appearance: radio;
    -moz-appearance: radio;
    -o-appearance: radio;
}
input[type='checkbox'] {
    /*appearance: checkbox;*/
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -o-appearance: checkbox;
}
textarea {
    width: 100%;
    vertical-align: middle;
    resize: none;
    color: #111;
    word-break: break-all !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
select::-ms-expand {
    display: none;
}

.clear {clear: both;}
:root {
    --c-primary: #5CB85C;
    --c-primary-active: #3d8b3d;
    --c-white: #fff;
}
.container {max-width: 1140px; margin: 0 auto;
}
.flex {display: flex;}
h1 {font-size: 2.5rem;}